// @import 'base/reset';
@import 'base/space';
// @import 'base/mixin';

.flexbox{
	display: flex;
	align-content: flex-start;
	align-items: center;
}

/* .arrow {
	@include arrow(left);
}
*/
.caret {
	@include caret(8px);
}
//控制语句
@for $i from 1 through 3 {
	h#{$i} {
		padding: 10px;
	}
}

$gutter: 10px;
$width: 60px;
%grid {
	float: left;
	margin-left: $gutter;
	margin-right: $gutter;
}
@for $i from 1 through 12 {
	.span#{$i} {
		@extend %grid;
		width: percentage($i / 12);
	}
}

$type: 4;
%width {
	width: auto;
}
@while $type > 0 {
	.item-#{$type} {
		@extend %width;
	}
	$type: $type - 1;
}

//sprite图片
$list: phone lock food;
@mixin sprite {
	@each $ico in $list {
		.ico-#{$ico} {
			background-image: url('img/#{$ico}.png') no-repeat;
		}
	}
}
.sprite {
	@include sprite;
}

//$list, $map
$list: 5px, 10px, 15px, 20px;
.m {
	z-index: length($list);
}
$map: (
	xs: 10px,
	sm: 12px,
	md: 14px,
	lg: 16px
);
.wrap {
	.container & {
		font-style: map-get($map, sm);
	}
}
.header {
	@at-root #{&}-top{
		font-size: 12px;
	}
	.page &{
		width: 100%;
		margin-bottom: 10px;
	}
}

$theme-color: (
	default: (
		bgcolor:#ccc,
		text-color: #333,
		link-color: #39f
	),
	primary: (
		bgcolor: #000,
		text-color:#fff,
		link-color: #93f
	),
	error: (
		bgcolor: #000,
		text-color:#fff,
		link-color: #93f
	)
);
div{
	background: map-get(map-get($theme-color, primary), bgcolor);
}

//$map定义 遍历
$social-colors: (
    facebook: #3b5998,
    github: #171515,
    google: #db4437,
    twitter: #55acee
);
@function colors($color){
	//TODO 
	@if not map-has-key($social-colors, $color){
		@debug "no color";
		@warn "No color found for `#{$color}` in $social-colors map!"
	}
	@return map-get($social-colors, $color)
}
@function hovers($color){
	$names: map-keys($social-colors);
	@if index($names, $color){
		@return map-get($social-colors, $color)
	}
	@warn "No color found for `#{$color}` in map";
}


$types: facebook google twitter;
//each历遍
@each $type in $types {
	.btn-#{$type}{
		color: colors($type)
	}
}
//for历遍
$keys: map-keys($social-colors);
@for $i from 1 through length($keys){
	$color: nth($keys, $i);
	.btn-#{$color}{
		color: $color;
	}
}

//媒介查询
@mixin maxMedia($size){
	@media only screen and (max-width:$size) {
		@content;
	}
}
@include maxMedia(1200px){
	body{
		color: red;
	}
}