// @import './widget/btn';
// @import './widget/flex';
@import './base/mixin';
@import './widget/cell';
@import './base/flex';


.weui-btn{
  font-weight: normal;
}

//父选择器标识符置后情况
#content aside{
  color: red;
  body.ie &{
    color: green;
  }
}

.arrow{
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 6px;
  margin: 10px 20px;
  border: 1px solid #b0b578;
  position: relative;
  @include carte(bottom, #b0b578, #fff)
}
.article-content{
  .article__title{ }
  .article__thumb{ }
    //大图
  .article__img-large{ }
  .article__imgs{
    .img-item{}
  }
  .article__info{}
  .three-img{}
  .left-img{}
  .right-img{}
}

.word-item:nth-child(2n+1)::before {
  content: '';
  background: #D8D8D8;
  position: absolute;
  width: 1px;
  height: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;     //垂直居中
}



