@import 'base/_mixin.scss';

$color: #333;
$map: 10px 20px 30px;

body {
	color: $color;
}
.box {
	@extend %ellipse;
	display: flex;
}

h1 {
	@extend %ellipsis;
}
p {
	@include ellipsis-multi;
}
.arrow {
	@include arrow(left);
}
.caret {
	@include caret(8px);
}
.box1 {
	@extend %ellipsis;
}

@for $i from 1 through 3 {
	h#{$i} {
		padding: 10px;
	}
}
