html {
  font-size: 20px;
  font-size: 5.33333vw;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
       text-size-adjust: 100%;
}

@media screen and (max-width: 320px) {
  html {
    font-size: 17.06667px;
  }
}

@media screen and (min-width: 540px) {
  html {
    font-size: 28.8px;
  }
}

body {
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  font-size: 14px;
  font-family: -apple-system, Helvetica, sans-serif arial;
  -webkit-overflow-scrolling: touch;
}

body, p, form {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

input, textarea, button, select {
  outline: none;
  vertical-align: middle;
  font-family: -apple-system, Helvetica, sans-serif arial;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

hr {
  margin: 10px 0;
  border: 0;
  border-top: 1px solid #eee;
}

img, img a {
  border: 0;
  vertical-align: middle;
  display: inherit;
}

em, i {
  font-style: normal;
}

[v-cloak] {
  visibility: hidden;
}

a {
  background-color: transparent;
  text-decoration: none;
  outline: 0;
}

a:active, a:hover {
  outline-width: 0;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear {
  clear: both;
}

.text-left {
  text-align: right;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.hidden {
  visibility: hidden;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.fade.in {
  opacity: 1;
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .35s ease;
  transition: height .35s ease;
}

img[lazy=loading] {
  background-color: #f1f4f3;
}

img[lazy=loaded] {
  -webkit-animation: opacity .3s;
  animation: opacity .3s;
}

@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

.main .box {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

*, :after, :before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.f8 {
  font-size: 8px;
}

.mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
}

.border-1px {
  position: relative;
}

.border-1px::after {
  position: absolute;
  content: ' ';
  display: block;
  width: 200%;
  height: 200%;
  left: 0;
  top: 0;
  border: 1px solid #c7c7c7;
  border-radius: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.main .box {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.content, .ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.arrow-wrap {
  width: 0;
  height: 0;
  border-width: 50px;
  border-style: solid;
  border-color: black blue orange yellow;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.main {
  position: relative;
}
/*# sourceMappingURL=index.css.map */