@import 'compass/utilities/sprites';

@mixin icon($sprites, $name, $wap:false){
  background: $sprites no-repeat;
  $width: image-width(sprite-file($sprites, $name));
  $height: image-height(sprite-file($sprites, $name));

  @if $wap {
		$width: ceil($width / 2);
    $height: ceil($height / 2);
    background-size: $width;
  }
  width: $width;
  height: $height;
}

//icon图标尺寸不统一时，设置background-size, background-position只按最大宽度除2
@mixin iconItem($sprites, $name, $wap:false) {
	$posX: nth(sprite-position($sprites, $name), 1);
  $posY: nth(sprite-position($sprites, $name), 2);
  
	@if $wap {
    $posX: ceil($posX / 2);
    $posY: ceil($posY / 2);
    @if $name==notes {
      $posY: $posY/16 * 14;
    }
  }
  background-position: $posX $posY;
}

//生成雪碧
$setting: sprite-map('icon/*.png', $spacing:10px, $layout: 'vertical');

$list: clock, delete, collection, camera, activity, accessory, notes;

%icon{
  @include icon($setting, nth($list, 1), true)
}
@each $name in $list{
  .#{$name}{
    // @extend %icon;
    @include icon($setting, $name, false);
    @include iconItem($setting, $name, false)
  }
}