.multi{
    display: -webkit-box;		/*1.设置display类型为-webkit-box*/
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;			/*2.设置元素超出隐藏*/
    text-overflow: ellipsis;	/*3.设置超出样式为省略号*/
    -webkit-line-clamp: 2;		/*4.设置2行应用省略*/
    -webkit-box-orient: vertical;
}

/*ios滚动卡顿 列表水平滑动*/
.ios{
	overflow-x:hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling:touch;
}
.ios1{
	box-sizing: border-box;
  height: 100%;
  padding-bottom: 50px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}


ul.list{
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
}
li{
	display: inline-block;
}

/*二列排榜--多行*/
.list-two{
  float:left;
	width: 50%;
	margin-bottom: .4rem;
	&:nth-child(odd){
		padding-right: .2rem;
	}
	&:nth-child(even){
		padding-left: .2rem;
	}
}
/*三列排榜--多行*/
.list-three{
	float:left;
	width: 32%;
	&:nth-child(3n+2){
		margin: 0 2%;
	}
}
/*负边距*/
.list{
	padding-right:20px;
	li{
		float:left;
		width:33.33%;
		&:nth-child(3n+2){
			margin: 0 10px;
		}
		&:nth-child(3n){
			margin-right:-20px;
		}
	}
}

/*圣杯布局--left无法提前*/
.container{
  padding: 0 200px;
	overflow:hidden;				/*bfc*/
	.middle, .left, .right{
		float:left;
		position:relatve;
	}
	.middle{
		width:100%;
	}
	.left{
		margin-left:-100%;
		left:-200px;					/*pl大小*/
		width:200px;
	}
	.right{
		margin-left:-200px;
		right:-200px;				  /*pr大小*/
		width:200px;
	}
}

相同：三栏全部float浮动，左右两栏加上负margin
不同：中间栏div内容不被遮挡处理方式
/*将中间的盒子设为box-sizing:border-box,给中间的盒子设置左右的padding*/
.middle{
	box-sizing: border-box;
  width: 100%;
  padding: 0 200px;
}
.left{
	margin-left:-100%;
	width:200px;
}
.right{
	margin-left:-200px;
	width:200px;
}


/*双飞翼*/
.left, .middle, .right{
	float:left;
}
.middle{
	width:100%;
	.main{
		margin: 0 200px;		/*.left在头只能用margin, 后面层级比前面高*/
	}
}
.left{
	width:200px;
	margin-left:-100%;
}
.right{
	width:200px;
	margin-left:-200px;
}

/*left的开头*/
.middle{
	width:100%;
	padding:0 200px;
	margin-left: -200px;
	box-sizing: border-box;
}
/*或*/
.middle{
	width:100%;
	margin-left: -200px;
}
.main{
	margin: 0 200px;
}