@import "compass/utilities/sprites";

$setting: sprite-map('icon/*.png', $spacing: 10px, $layout: 'vertical', $size:32px);
.icon{
  display: inline-block;
  background: sprite-url($setting) no-repeat;
}

$list: clock, delete, collection, camera, activity, accessory;
@each $name in $list {
  .#{$name}{
    // $path: sprite-file($setting, #{$name});
    // width: image-width($path);
    // height: image-height($path);
    //TODO
    @include sprite-dimensions($setting, #{$name}); //各个尺寸
    background-position: sprite-position($setting, #{$name});
  }
}

//sprite辅助函数
%base{
  background: $setting no-repeat;
}
.ico{
  //@include sprite-dimensions($setting, clock);    //统一尺寸
  width: sprite-height($setting);                   //雪碧图大小
  height: sprite-height($setting);
  // height: 32px/(32px*0+1);
  // background: $setting no-repeat;
  background: sprite-url($setting) no-repeat;       //图片
}
.ico-clock{
  background-position: sprite-position($setting, clock);
  // @include sprite-background-position($setting, clock);
}
.ico-delete{
  background-position: sprite-position($setting, clock);
}