@import './color';

.btn{
  display: block;
  outline: 0;
  background: #ff6700;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  font-size: .28rem
}
.btn-gray {
  background: #999
}
.btn-white {
  color: #999;
  border: 1px solid transparent;
  background: transparent
}
.btn-bordered {
  color: #999;
  background: transparent;
  border: 1px solid #999
}
