@mixin keyframes($animate) {
  @keyframes #{$animate} {
    @content;
  }
}

@font-face {
  font-family: 'icons';
  font-weight: normal;
  font-style: normal;
  src:  url('../fonts/icomoon.eot?hba3e7');
  src:  url('../fonts/icomoon.eot?hba3e7#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?hba3e7') format('truetype'),
    url('../fonts/icomoon.woff?hba3e7') format('woff'),
    url('../fonts/icomoon.svg?hba3e7#icomoon') format('svg');
};

$icons: (
  'accessory' : 'e900',
  'activity'  : 'e901',
  'camera'    : 'e902',
  'clock'     : 'e903',
  'collection': 'e904',
  'delete'    : 'e905',
);

@function content($icon){
  //unquote("\"") + $icon + unquote("\"");
  //unquote("\"")+unquote(str-insert($icon,"\\", 1))+unquote("\"");
  @return unquote("\'\\#{$icon}\'")
}

@mixin icon($pos:before, $style:true, $icon: false){
  &:#{$pos}{
    content: content($icon);
  }
  @content;
}
i[class^='icon']{
  font-family: 'icons';
}
@each $name, $ico in $icons {
  .icon-#{$name}{
    @include icon($icon: $ico);
  }
} 