// 375为基准 结合rem vw %使用
// 字体最小 pc=12px  mobile=8px

// 1rem = 20
// 1vw  = 37.5
html {
	font-size: 20px;
  font-size: 5.33333vw;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%
}

@media screen and (max-width: 320px) {
	html {
		font-size: 17.06667px;
	}
}
@media screen and (min-width: 540px) {
	html {
		font-size: 28.8px;
	}
}


//统一设置间距 mtn, mvn, man | plx, ptx, prx, pbx
$map: (n: 0, x: 3px, s: 5px, m: 10px, l: 15px, h:20px);
$names: (p: padding, m: margin);
$directions: (t: top, r:right, b: bottom, l: left); 
@each $n-key, $n-value in $names{
  @each $d-key, $d-value in $directions {
    @each $size, $space in $map {
      @if ($d-key == t) or ($d-key == b) {
        .#{$n-key}#{$d-key}#{$size}, .#{$n-key}v#{$size}, .#{$n-key}a#{$size}{
          #{$n-value}-#{$d-value}: $space !important;
        }
      }

      @if ($d-key == l) or ($d-key == r) {
        .#{$n-key}#{$d-key}#{$size}, .#{$n-key}h#{$size}, .#{$n-key}a#{$size}{
          #{$n-value}-#{$d-value}: $space !important;
        }
      }
    }
  }
}

@for $i from 10 through 24 {
  .f#{$i}{font-size: $i + px}
}