//keyframes
@mixin keyframes($animate) {
  @keyframes #{$animate} {
    @content;
  }
}

@mixin center($width: null, $height: null) {
	position: absolute;
	left: 50%;
	top: 50%;
	// @if type-of($width) == 'null' and type-of($height) == 'null' {
	@if not $width and not $height {
		transform: translate(-50%, -50%);
	} @else if not $width {
    height: $height;
		margin-top: -($height / 2);
		transform: translateX(-50%);
	} @else if not $height {
    width: $width;
		margin-left: -($width / 2);
		transform: translateY(-50%);
	} @else {
		width: $width;
		height: $height;
		margin: -($width / 2) #{0 0} - ($height / 2);   //容措方式
	}
}

@mixin flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}