.weui-flex{
  display: flex;
  &__item{
    flex: 1;
  }
}

.weui-grids{
  position: relative;
  overflow: hidden;
  //left_line
  //top_line
}
.weui-grid{
  position: relative;
  box-sizing: border-box;
  //right_line
  //bottom_line

  &__icon{
    width: 28px;
    height: 28px;
    margin: 0 auto;
    img{
      width: 100%;
      height: 100%;
    }
    & + &__label{
      margin-top: 5px;
    }
  }
  &__label{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}